{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 style="font-size: 2.5em;">Contact Us</h1><br/>
        <p style="font-size: 1.2em;">If you have any questions or need assistance, please don't hesitate to reach out to us.</p><br/>
        <p style="font-size: 1.2em;">Email: <a href="mailto:info@example.co.in">info@clientsync.co.in</a></p><br/>
        <p style="font-size: 1.2em;">Phone: +91 22 1234 5678</p><br/>
        <p style="font-size: 1.2em;">Address: 123 Nariman Point, Mumbai 400021, Maharashtra, India</p><br/>
    </div>
{% endblock %}