{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid" style="padding: 0; margin: 0;">
    <br/><br/>
    <h1 style="margin-top: -80px;">Forgot Password</h1>
    <br/>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'password_reset' %}" style="margin-top: -20px;">
        {% csrf_token %}

        <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="email" required>
        </div>

        <button type="submit" class="btn btn-success btn-lg">Send Password Reset Email</button>
    </form>
</div>

{% endblock %}
 